.homepage{
    display: flex;
    align-items: center;
    gap:100px;
    height: 100%;

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        text-align: center;

        h1{
            font-size: 60px;
            background: linear-gradient(to right , #234f68, #0a8f25);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }

        h3{
            font-weight: 400;
            max-width: 70%;
            
        }

        a{
            padding: 12px 24px;
            background-color: #234f68;
            color: white;
            border: none;
            border-radius: 25px;
            font-size: 18px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover{
                background-color: #0a8f25;
                color: white;
            }
        }
    }

    .right{
        flex: 1;
        display: flex;
    }
}